:root {
    
} 
.pointer {
    cursor: 
}

body {
    /* background-image: url("https://i.pinimg.com/originals/b4/71/d6/b471d641c2fb84308dfb016cbf4ac6bb.gif");
    background-repeat: no-repeat;
    background-size: cover; */
    
}
/* === Header - logo / welcome === */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    

}
#logo {
    max-width: 100px;
    border: 2px solid black;
}
#welcome-nickname {
    align-self: center;
    width: 200px;
    border: 2px solid black;
}
/* === Section - Year & Gif & Landing Page Alerts=== */
#year-and-gif {
    background-color: burlywood;
    display: flexbox;
    text-align: center;


}
#year {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

#earth {
    min-height: 300px; 

}

/* === Section - Landing Page Alert === */ 

#initial-alert {

}
#initial-description {
    border: 2px solid black;
}
#begin-game {
    background-color: gray;
}

/* === Footer - metrics & btn containers === */
footer {

}

#metrics-container {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.metrics {
    background-color: teal;
}
#oxygen {
    border: 2px solid black;
}
#water {
    border: 2px solid black;
}
#sun {
    border: 2px solid black;
}
#btn-container {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    
}
.btn {
    text-align: center;
}
#btn-oxygen {
    border: 2px solid black;

}
#btn-water {
    border: 2px solid black;
    
}
#btn-sun {
    border: 2px solid black;
}


